*{

}


html,
#root,
.app,
.content,
body {
  height: 100%;
}

.app{
display: flex;
position:relative;
}

::-webkit-scrollbar{
   width: 10px;
}
::-webkit-scrollbar-thumb{
   background-color: #fefefc;
}
::-webkit-scrollbar-track{
   background-color: #333;
}
::-webkit-scrollbar-track:hover{
   background-color: #111;
}
 
.MuiBox-root svg[height="250px"] > g > g:nth-child(4){
   transform: translate(-62,168) !important;
}